<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="post" th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}">
    <input type="hidden" name="_method" value="patch" />

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surName}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">Surname error</div>

    <input type="submit" value="Update User"/>
</form>
</body>
</html>
