<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/create}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" name="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surName}" id="surname" name="surname">
    <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">Surname error</div>

    <input type="submit" value="Create User">
</form>

</body>
</html>





