<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurName()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<a th:href="@{/users/edit?id={id}(id=${user.getId()})}">Edit</a>
<br/>
<form th:action="@{/users/delete?id={id}(id=${user.getId()})" th:method="POST">
    <input type="submit" value="Delete" />
</form>
</body>
</html>