<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surName}"></td>
        <td>
            <form th:action="@{'/users/edit?id=' + ${user.id}}" method="post" style="display: inline;">
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{'/users/delete?id=' + ${user.id}}" method="post" onsubmit="return confirm('Want to delete User?');" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p>
    <a th:href="@{'/users/new'}">
        <button type="button">Create User</button>
    </a>
</p>

</body>
</html>
